<h3>Liste des Catégories</h3>
<div class="container">
    <td><button type="button" class="btn btn-success">Ajouter</button></td>
<table class="table table-striped">
<thead>
<tr>
<th>ID</th>
<th>NomCatégorie</th>
<th>ImageCatégorie</th>
<th>Modifier</th>
<th>Supprimer</th>
</tr>
</thead>
<tbody>
<tr class="table-life" *ngFor="let p of categories">
<th scope="row">{{p._id}}</th>
<td>{{p.nomcategorie}}</td>
<td><img src={{p.imagecategorie}} width="60"/></td>
<td><button type="button" class="btn btn-primary">Modifier</button></td>
<td><button type="button" class="btn btn-danger">Supprimer</button></td>
</tr>
</tbody>
</table>
</div>